{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    </div>

    <div id="email-details">
        <div style="border: 3px solid black; margin-bottom: 10px; padding: 5px; background-color:aliceblue;">
            <h3 id="emailSubject" style="font-weight: bold;"></h3>
            <h4 id="emailSender"></h4>
            <div class="d-flex justify-content-between">
                <h6 id="emailRecipients"></h6>
                <h6 id="emailTimestamp"></h6>
            </div>
        </div>
        <p id="emailBody"></p>
        <div id="inbox-details">
            <button id="replyButton">Reply</button>
            <button id="unreadButton">Mark as Unread</button>
            <button id="archiveButton">Archive Message</button>
        </div>
        <div id="archived-details">
            <button id="unarchiveButton">Unarchive Message</button>
        </div>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}